/* Mobile */
/**************************/

i.fas {
    color: #0065FC;
}

/** Mise en forme du header **/

html {
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
}

/* header logo */

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 20px 30px;
}

.header__logo > img {
   width: 100px;
}

.header__logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #0065FC;
}

/* header nav */

.header__nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header__nav > ul > li {
    padding-bottom: 10px;
    flex: 1;
    width: 200px;
    text-align: center;
    border-bottom: solid #f2f2f2 3px;
}

.header__nav > ul > li > a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}
 
.header__nav > ul > li > a:hover {
    color: #0065FC;
}

.header__nav li:hover {
    text-decoration: none ;
    border-bottom: solid #0065FC 3px;
}

/** Mise en forme du main **/

/** Mise en forme des sections **/

/* Mise en forme de la section search */

.search {
    margin: 0 15px 0 22px;
    font-size: 1.1em;
}
.search__title {
    margin: 32px 20px 15px 0px;
    font-size: 22px;
}

.search__subtitle {
    font-size: 16px;
    margin-bottom: 35px;
}

.search__form {
    display: flex;
}

.search__input {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 15px;
    border: solid #f2f2f2 1px;
}

.search__input:focus {
    outline: none;
    border: solid #f2f2f2 1px;
}

i.fas.fa-map-marker-alt {
    color: black;
    background-color: #f2f2f2;
    padding: 18px 20px 18px 18px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.button > i.fas.fa-search {
    color: white;
    background-color:#0065FC;
    padding: 18px;
    border-radius: 16px;
    position: absolute;
    left: 300px;
}

.button__text {
    display: none;
}

.search__filters {
    margin-top: 35px;
}

.search__filters > p {
    font-weight: bold;
    font-size: 18px;
}

.search__filtercards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 16px;
}

.search__filtercards__item {
    display: flex;
    align-items: center;
    border: solid #dadce0 2px;
    border-radius: 50px;
    height: 45px;
    padding-right: 15px;
    margin-right: 13px;
    margin-bottom: 1rem;
}

.search__filtercards__item:hover {
    color: #0065FC;
}

i.fas.fa-money-bill-wave {
    background-color: RGB(215, 227, 274);
    margin-right: 10px;
    margin-left: -2px;
    border-radius: 50%;
    padding: 16px;
}

i.fas.fa-child {
    background-color: RGB(215, 227, 274);
    margin-right: 10px;
    margin-left: -2px;
    border-radius: 50%;
    padding: 16px;
}

i.fas.fa-heart {
    background-color: RGB(215, 227, 274);
    margin-right: 10px;
    margin-left: -2px;
    border-radius: 50%;
    padding: 16px;
}

i.fas.fa-dog {
    background-color: RGB(215, 227, 274);
    margin-right: 10px;
    margin-left: -2px;
    border-radius: 50%;
    padding: 16px;
}

.search__information {
    display: flex;
    font-size: 16px;
    margin-top: 20px;
}

.fas.fa-info.fa-xs {
    border: solid #dadce0 1.5px;
    border-radius: 50%;
    padding: 9px 9px;
    margin-right: 12px;
    height: 3px;
    line-height: 0px;
    font-size: 11px;
}

.search__information p {
    margin-top: 4px;
    margin-bottom: 35px;
}

/*********************************/
/* Mise en forme du aside */

.ranking {
    background-color: #f2f2f2;
    padding-top: 1.5rem;
}

.ranking__title {
    margin: auto;
    width: 330px;
    margin-bottom: -30px;
}

.fas.fa-chart-line {
    font-size: 22px;
    color: black;
    position: relative;
    left: 310px;
    top: -50px;
}

 /* Ranking cards */

.ranking__cards {
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking__card {
    display: flex;
    margin: 10px 20px;
    background-color: white;
    border-radius: 18px;
    padding: 5px;
    height: 135px;
    max-width: 330px;
    min-width: 260px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.rankingcard__img {
    height: 130px;
}

.rankingcard__img > img {
    height: 135px;
    width: 130px;
    object-fit: cover;
    border-bottom-left-radius: 14px ;
    border-top-left-radius: 14px;
}

.rankingcard__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rankingcard__content > h2 {
    font-size: 16px;
    padding-left: 20px;
}

.rankingcard__content > p {
    font-size: 14px;
    padding-left: 20px;
    margin-top: -5px;
}

.stars-active {
    color: #0065FC;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 45px;
}

.stars-inactive {
    margin-top: 45px;
    color: #dadce0;
    font-size: 11px;
}

/*********************************/
/* Mise en forme de la section hebergements */

.hebergements {
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
}

.hebergements > h1 {
    font-size: 22px;
    margin-left: -3rem;
    margin-top: 2rem;
}

.hebergements > p {
    margin-left: -13rem;
}

.hebergements__cards {
    padding: 10px 20px;
    margin-top: -5px;
    align-self: center;
}

.hebergements__title {
    align-self: center;
    margin: 20px 0px 0px -20px;
}

.hebergements__cards > a {
    color: black;
    text-decoration: none;
}

.hebergements__card {
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 12px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    height: 200px;
    width: 325px;
}

.hebergementscard__img {
    height: 130px;
}

.hebergementscard__content {
    margin-top: 10px;
}

.hebergementscard__img > img {
    height: 120px;
    width: 325px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.hebergementscard__content > h2 {
    font-size: 16px;
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: -8px;
}

.hebergementscard__content > p {
    font-size: 14px;
    margin-left: 10px;
}

.hebergements__score {
    margin-top: -10px;
    margin-left: -10px;
}

.hebergements__more {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    align-self: center;
    margin: 0px 0px 0px -220px;
}


/* Mise en forme de la section hebergements */

.activites {
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activites__title {
    align-self: center;
    margin: 20px 0px 0px -100px;
}

.activites__cards {
    padding: 30px 20px;
    margin-top: -5px;
}   

.activites__cards > a {
    color: black;
    text-decoration: none;
}

.activites__cards__col2 > a {
    text-decoration: none;
    color: black;
}

.activites__cards__col4 > a {
    text-decoration: none;
    color: black;
}

.activites__card {
    background-color: white;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 20px;
    margin-bottom: 25px;
    height: 200px;
}

.activitescard__img > img {
    height: 140px;
    width: 335px;
    object-fit: cover;
    /*object-position: 1px -10px;*/
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.activitescard__content > h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: -8px;
}

/*********************************/
/* Mise en forme du footer*/

.footer {
    background-color: #f2f2f2;
}

.footer__nav {
    padding: 20px;
}

.footer__nav__list > h3 {
    font-size: 18px;
    margin: 0;
    padding: 30px 20px 5px 20px;
}

.footer__nav__list  > ul {
    list-style-type: none;
    padding-left: 10px;
}

.footer__nav__list > ul > li {
    padding-left: 10px;
    padding-bottom: 10px;
}

.footer__nav__list > ul > li > a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}
 
.footer__nav a:hover {
    color: #0065FC;
}

.footer__nav li:hover {
    text-decoration: none ;
}

/**************************/

/* Tablet */
/**************************/

@media screen and (min-width: 768px) {

    .search {
        margin-left: 2rem;
    }

    .button__text {
        display: block;
        color: white;
        font-weight: bold;
        background-color:#0065FC;
        padding: 16px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .button > i.fas.fa-search {
        display: none;
    }

    .ranking__cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 20px;
    }

    .ranking__card {
        margin: 0;
    }

    .hebergements {
        display: block;
    }

    .hebergements__title {
        padding: 1px 0;
        margin: 0px 0px 0px -20px;
    }

    .hebergements__title > h1 {
        text-align: center;
    }

    .hebergements__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 20px;
    }

    .hebergements__card {
        margin-bottom: 0;
    }

    .hebergements__more {
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }

    .activites {
        background-color: white;
        display: block;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .activites__title {
        text-align: center;
        margin: 0;
        padding: 0 0 10px 0;
    }

    .activites__cards {
        display: flex;
        padding: 0;
        margin: 20px 0 60px 0;
        gap: 0 15px;
    }

    .activites__cards > * {
        flex: 1
    }

    .activites__cards__col2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .activites__cards__col4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .activites__card {
        margin-bottom: 0px;
    }
    
    .activitescard__img > img {
        width: 100%;
    }

    .c1 {
        height: 435px;
    }

    .c1 > .activitescard__img > img {
        height: 380px;
        object-position: 1px -1px;
    }

    .c2 {
        height: 230px;
    }

    .c2 > .activitescard__img > img {
        height: 175px;
        object-position: 1px -100px;
    }

    .c3 {
        height: 170px;
    }

    .c3 > .activitescard__img > img {
        height: 115px;
    }

    .c4 {
        height: 435px;
    }

    .c4 > .activitescard__img > img {
        height: 380px;
        object-position: 1px 1px;
    }

    .c4 > .activitescard__content {
        position: relative;
    }

    .c4 > .activitescard__content > h2 {
        position: absolute;
        top: 50%;
        transform: translateY(-30%);
    }

   .c5 {
       height: 200px;
   }

   .c5 > .activitescard__img > img {
       height: 150px;
   }

   .c5 > .activitescard__content {
        position: relative;
    }

    .c5 > .activitescard__content > h2 {
        position: absolute;
        top: 50%;
        transform: translateY(-30%);
    }

   .c6 {
    height: 200px;
    }

    .c6 > .activitescard__img > img {
        height: 145px;
    }

    .footer__nav {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }
}

/**************************/

/* Desktop */
/**************************/


@media screen and (min-width: 1024px) {

     main {
        margin: 0 2rem;
    }

    .header__logo {
        padding: 40px 32px 20px 32px;
    }

    .header__nav {
        position: absolute;
        right: 260px;
        top: 3%;
        width: 8em;
        margin-top: -2.5em;
    }

    .header__nav > ul > li {
        padding-top: 55px;
        padding-right: 30px;
        padding-left: 50px;
        border-bottom: none;
        width: 105px;
       
    }

    .header__nav a:hover {
        color: #0065FC;
    }
    
    .header__nav li:hover {
        text-decoration: none ;
        border-top: solid #0065FC 3px;
        border-bottom: none;
        padding-top: 52px;
    }

    .header__nav > ul > li {
        margin-right: 20px;
    }

    .search {
        margin-left: 0px;
    }

    .search__filters {
        display: flex;
    }

    .search__filters > p {
        margin-right: 20px;
    }

    .ranking {
        grid-column: 2;
        grid-row: 1;
        border-radius: 20px;
        padding-top: 1rem;
    }

    .ranking__title {
        margin-bottom: -1.5rem;

    }

    .ranking__cards {
        padding-bottom: 0;
    }

    .ranking__card {
        margin: 1rem -0.5rem 0.5rem -0.5rem;
    }


    .hebergementslist {
        display: grid;
        grid-template-columns: 1fr minmax(380px, 30%);
    }


    .hebergements {
        border-radius: 20px;
        background-color: #f2f2f2;
        align-items: flex-start;
        margin-right: 30px;
    }


    .hebergements__title > h1 {
        margin: 2rem 0 1.5rem 3.5rem;
        text-align: left;
    }

    .hebergements__more {
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        text-align: left;
    }

    .hebergements__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
    }

    .hebergements__card {
        width: 240px;
        margin: 7px;
    }

    .hebergementscard__img > img {
        width: 240px;
    }

    .activites {
        margin: 0;
    }

    .activites__title {
        margin-top: 50px;
        text-align: left;
    }

    .activites__cards {
        margin-top: 0;
        gap: 0 20px;
    }

    .footer__nav {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        padding-left: 1rem;
        margin-right: 50px;
        padding-top: 20px;
    }
}

/**************************/

@media screen and (min-width: 1280px) {

    main {
        margin: 0 2.5rem;
    }

    .header__logo {
        padding-left: 40px;
        padding-right: 40px;

    }
    
    .hebergements__cards {
        justify-content: center;
    }

    .hebergements__card {
        margin: 0;
    }

    .ranking__title {
        margin-bottom: -2.5rem;
    }

    .ranking__cards {
        gap: 0px 20px;
    }
    
    .hebergements__cards {
        gap: 30px 10px;
        justify-content: space-evenly;
    }

    .activites {
        margin-right: 0px;
        margin-left: 0px;
    }

    .activites__cards {
        gap: 0 40px;
    }

    .c4 > .activitescard__content > h2 {
        transform: translateY(-0%);
    }

    .footer__nav {
        padding-left: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {

    main {
        margin: 0px 3rem;
    }

    .header__logo {
        padding-left: 48px;
        padding-right: 48px;
    }

    .search__information {
        margin-bottom: 15px;
    }

    .hebergementslist {
        grid-template-columns: 1fr minmax(380px, 31%);
    }

    .ranking__title__text > h1 {
        margin-bottom: 27px;
    }

    .ranking__cards {
        gap: 5px 20px;
        padding-bottom: 2.5rem;
    }

    .hebergements__cards {
        justify-content: space-evenly;
        gap: 40px 15px;
    }

    .hebergements__title > h1 {
        margin: 2.5rem 0 2rem 3.5rem;
    }

    .c2 > .activitescard__img > img {
        object-position: -1px -180px;
    }

    .footer__nav {
        padding-left: 2rem;
        max-width: 1300px;
    }
}