/* Mobile*/
/**************************/


/** Mise en forme du header **/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* header logo */

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.header__logo > img {
   width: 100px;
}

.header__logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #0065FC;
}

/* header nav */

.header__nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header__nav > ul > li {
    padding-bottom: 10px;
    flex: 1;
    width: 200px;
    text-align: center;
    border-bottom: solid #f2f2f2 3px;
}

.header__nav > ul > li > a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}
 
.header__nav a:hover {
    color: #0065FC;
}

.header__nav li:hover {
    text-decoration: none ;
    border-bottom: solid #0065FC 3px;
}


/** Mise en forme du main **/

/** Mise en forme des sections **/

/* Mise en forme de la section search */

.search {
    font-size: 1.1em;
}
.search__title {
    margin: 32px 40px 15px 20px;
    font-size: 22px;
}

.search__subtitle {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 35px;
}

.search__input {
    position: absolute;
    left: 70px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 15px ;
    width: 220px;
    border: solid #f2f2f2 1px;
}

.fa-map-marker {
    position: absolute;
    left: 20px;
    background-color: #f2f2f2;
    padding: 18px 20px 18px 18px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.fa-search {
    position: absolute;
    left: 300px;
    color: white;
    background-color:#0065FC;
    padding: 18px;
    border-radius: 15px;
}