/* Mobile */
/**************************/

i.fas {
    color: #0065FC;
}

/** Mise en forme du header **/

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
}

/* header logo */

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 20px 30px;
}

.header__logo > img {
   width: 100px;
}

.header__logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #0065FC;
}

/* header nav */

.header__nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header__nav > ul > li {
    padding-bottom: 10px;
    flex: 1;
    width: 200px;
    text-align: center;
    border-bottom: solid #f2f2f2 3px;
}

.header__nav > ul > li > a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}
 
.header__nav a:hover {
    color: #0065FC;
}

.header__nav li:hover {
    text-decoration: none ;
    border-bottom: solid #0065FC 3px;
}


/** Mise en forme du main **/

/** Mise en forme des sections **/

/* Mise en forme de la section search */

.search {
    font-size: 1.1em;
}
.search__title {
    margin: 32px 40px 15px 20px;
    font-size: 22px;
}

.search__subtitle {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 35px;
}

.search__input {
    position: absolute;
    left: 70px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 15px ;
    width: 220px;
    border: solid #f2f2f2 1px;
}

.search__input:focus {
    outline: none !important;
    border: solid #f2f2f2 1px;
}

i.fas.fa-map-marker-alt {
    position: absolute;
    left: 20px;
    color: black;
    background-color: #f2f2f2;
    padding: 18px 20px 18px 18px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

i.fas.fa-search {
    position: absolute;
    left: 300px;
    color: white;
    background-color:#0065FC;
    padding: 18px;
    border-radius: 16px;
}

.search__filters {
    position: relative;
    top: 80px;
    height: 300px;
    padding-left: 20px;
}

.search__filters > p {
    font-weight: bold;
    font-size: 18px;
}

.search__filtercards {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    height: 190px;
    font-size: 16px;
}

.search__filtercards__item {
    display: flex;
    align-items: center;
    border: solid #dadce0 2px;
    border-radius: 50px;
    height: 45px;
    padding-right: 20px;
    margin-right: 10px;
}

i.fas.fa-money-bill-wave {
    background-color: RGB(215, 227, 274);
    margin-right: 10px;
    margin-left: -2px;
    border-radius: 50%;
    padding: 16px;
}

i.fas.fa-child {
    background-color: RGB(215, 227, 274);
    margin-right: 10px;
    margin-left: -2px;
    border-radius: 50%;
    padding: 16px;
}

i.fas.fa-heart {
    background-color: RGB(215, 227, 274);
    margin-right: 10px;
    margin-left: -2px;
    border-radius: 50%;
    padding: 16px;
}

i.fas.fa-dog {
    background-color: RGB(215, 227, 274);
    margin-right: 10px;
    margin-left: -2px;
    border-radius: 50%;
    padding: 16px;
}

.search__information {
    display: flex;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 25px;
}

.fas.fa-info.fa-xs {
    border: solid #dadce0 1.5px;
    border-radius: 50%;
    padding: 9px 9px;
    margin-right: 12px;
    height: 3px;
    width: 3px;
    line-height: 0px;
    font-size: 11px;
}

.search__information p {
    margin-top: 4px;
    margin-bottom: 35px;
}

/*********************************/
/* Mise en forme du aside */

.ranking {
    background-color: #f2f2f2;
    max-width: 375px;
}

.ranking__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 20px;
    padding-top: 20px;
}

.ranking__title > h1 {
    font-size: 22px;
    margin-bottom: 13px;
}

.fas.fa-chart-line {
    font-size: 22px;
    color: black;
}

 /* Ranking cards */

.ranking__cards {
    padding-bottom: 6%;
}

.ranking__card {
    display: flex;
    margin: 10px 20px;
    background-color: white;
    border-radius: 18px;
    padding: 5px;
    height: 135px;
    max-width: 330px;
    min-width: 260px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.rankingcard__img {
    height: 130px;
}

.rankingcard__img > img {
    height: 135px;
    width: 130px;
    object-fit: cover;
    border-bottom-left-radius: 14px ;
    border-top-left-radius: 14px;
}

.rankingcard__content > h2 {
    font-size: 16px;
    padding-left: 20px;
}

.rankingcard__content > p {
    font-size: 14px;
    padding-left: 20px;
    margin-top: -5px;
}

.ranking__score {
    margin-top: 35px;
}

.stars-active {
    color: #0065FC;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 45px;
}

.stars-inactive {
    margin-top: 45px;
    color: #dadce0;
    font-size: 11px;
}

/*********************************/
/* Mise en forme de la section hebergements */

.hebergements {
    background-color: #fafbfc;
    margin: 0;
    max-width: 375px;
}

.hebergements > h1 {
    font-size: 22px;
    padding: 5% 10% 0% 4%;
    margin-top: 0px;
    /*padding: 40px 20px 0px 20px;*/
}

.hebergements__cards {
    padding: 10px 20px;
    margin-top: -5px;
}   

.hebergements__cards > a {
    color: black;
    text-decoration: none;
}

.hebergements__card {
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 12px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    height: 200px;
    width: 325px;
}

.hebergementscard__img {
    height: 130px;
}

.hebergementscard__content {
    margin-top: 10px;
}

.hebergementscard__img > img {
    height: 120px;
    width: 325px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.hebergementscard__content > h2 {
    font-size: 16px;
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: -8px;
}

.hebergementscard__content > p {
    font-size: 14px;
    margin-left: 10px;
}

.hebergements__score {
    margin-top: -10px;
    margin-left: -10px;
}

.hebergements > p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    /*margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 30px;*/
    padding: 0% 10% 5% 6%;
}


/* Mise en forme de la section hebergements */

.activites {
    background-color: #fafbfc;
    max-width: 375px;
}

.activites > h1 {
    font-size: 22px;
    padding: 25px 20px 0px 20px;
    margin-top: 0;
}

.activites__cards {
    padding: 30px 20px;
    margin-top: -5px;
}   

.activites__cards > a {
    color: black;
    text-decoration: none;
}

.activites__card {
    background-color: white;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 20px;
    margin-bottom: 25px;
    height: 200px;
}

.activitescard__img > img {
    height: 140px;
    width: 335px;
    object-fit: cover;
    object-position: 0px -10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.activitescard__content > h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: -8px;
}

/*********************************/
/* Mise en forme du footer*/

.footer {
    background-color: #f2f2f2;
}

.footer__nav {
    padding: 20px;
}

.footer__nav__list > h3 {
    font-size: 18px;
    margin: 0;
    padding: 30px 20px 5px 20px;
}

.footer__nav__list  > ul {
    list-style-type: none;
    padding-left: 10px;
}

.footer__nav__list > ul > li {
    padding-left: 10px;
    padding-bottom: 10px;
}

.footer__nav__list > ul > li > a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}
 
.footer__nav a:hover {
    color: #0065FC;
}

.footer__nav li:hover {
    text-decoration: none ;
}


/**************************/

/* Desktop */
/**************************/


@media screen and (min-width: 768px) {

    .header__logo {
        padding: 40px 70px 20px 50px;
        margin-top: 2px;
    }

    .header__nav {
        position: absolute;
        right: 260px;
        top: 3%;
        width: 8em;
        margin-top: -2.5em;
    }

    .header__nav > ul > li {
        padding-top: 55px;
        padding-right: 30px;
        padding-left: 30px;
        border-bottom: none;
        width: 105px;
       
    }

    .header__nav a:hover {
        color: #0065FC;
    }
    
    .header__nav li:hover {
        text-decoration: none ;
        border-top: solid #0065FC 2px;
        border-bottom: none;
    }

    .search__title {
        margin-left: 50px;
    }

    .search__subtitle {
        margin-left: 50px;
    }

    .search__form {
        position: absolute;
        left: 30px;
        top: 225px;
    }

    .search__filters {
        height: 140px;
        display: flex;
        padding-left: 50px;
    }

    .search__filters > p {
        padding-right: 30px;
    }

    .search__information {
        margin-left: 50px;
    }

    .ranking__title > h1 {
        margin-bottom: 20px;
    }

    .hebergementslist {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        max-width: 1600px;
        margin-right: 20px;
    }

    .hebergements {
        width: 70%;
        max-width: 1000px;
        margin-left: 4%;
        border-radius: 3%/4%;
        background-color: #f2f2f2;
    }

    .hebergements > h1 {
        margin: 0;
        padding: 4% 8% 3% 4%;
    }

    .hebergements__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .hebergements__card {
        width: 240px;
    }

    .hebergementscard__img > img {
        width: 240px;
    }

    .ranking {
        width: 30%;
        max-width: 400px;
        border-radius: 5% / 3%;
        margin: 0 30px 0 20px;
    }

    .ranking__card {
        margin-bottom: 30px;
    }

    .activites {
        background-color: white;
        max-width: 1600px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .activites > h1 {
        padding: 70px 17px 0px 30px;
        margin-bottom: 0;
    }

    .activites__cards {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        width: 22%;
        max-height: 480px;
        gap: 10px 30px;
        padding: 30px 30px;
    }

    .activitescard__img > img {
        width: 100%;
    }

    .c1 {
        height: 435px;
    }

    .c1 > .activitescard__img > img {
        height: 390px;
        object-position: -170px -10px;
    }

    .c2 {
        height: 230px;
    }

    .c2 > .activitescard__img > img {
        height: 180px;
    }

    .c3 {
        height: 170px;
    }

    .c3 > .activitescard__img > img {
        height: 115px;
    }

    .c4 {
        height: 435px;
    }

    .c4 > .activitescard__img > img {
        height: 390px;
        object-position: -170px -10px;
    }

   .c5 {
       height: 200px;
   }

   .c5 > .activitescard__img > img {
       height: 145px;
   }

   .c6 {
    height: 200px;
    }

    .c6 > .activitescard__img > img {
        height: 145px;
    }

    .c1 > .activitescard__content > h2 {
        margin-top: 5px;
    }

    .c4 > .activitescard__content > h2 {
        margin-top: 5px;
    }

    .footer__nav {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin-left: 10px;
        padding-top: 20px;
    }

}

/* Tablet */
/**************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .header__nav li:hover {
        border-top: solid #0065FC 3px;
    }


    .ranking {
        max-width: 400px;
        border-radius: 5% / 2%;
        margin: 0 30px 0 20px;
        width: 45%;
    }

    .hebergements {
        width: 76%;
        border-radius: 3%/2%;
    }

    .hebergements > h1 {
        padding: 7% 8% 3% 4%;
    }

    .activites {
        margin-right: 50px;
    }

    .c4 > .activitescard__content > h2 {
        margin-top: -6px;
    }
        
    .c2 > .activitescard__img > img {
        object-position: 1px -100px;
        height: 175px;
    }

    .c5 > .activitescard__img > img {
        object-position: 0px 0px;
        height: 150px;
    }

    .c5 > .activitescard__content > h2 {
        margin-top: 3px;
    }

    .c6 > .activitescard_img > img {
        object-position: 2px -13px;
    }

    .footer__nav {
        margin-right: 60px;
    }


}